<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <title>分类</title>
</head>
<body>


<!--导航-->
<nav th:replace="_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <!--标题-->
            <div class="ui teal header item">ZALWLF</div>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="folder open icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="paper plane icon"></i>关于</a>

            <!--搜索-->
            <div class="right m-item item m-mobile-hide">
                <div class="ui action left icon input">
                    <i class="search link icon"></i>
                    <input type="text" placeholder="搜索...">
                    <div class="ui teal button">搜索</div>
                </div>
            </div>

        </div>
    </div>

    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--内容-->
<div class="m-container-small m-padded-tb-huge">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="right aligned column">
                    共<h3 class="ui orange header m-inline-block m-text-thin">&nbsp;<span th:text="${#arrays.length(types)}">13</span>&nbsp;</h3>个
                </div>
            </div>
        </div>
        <!--types-->
        <div class="ui attached segment m-padded-tb-small">
            <div class="ui labeled button m-margin-tb-tiny" th:each="type : ${types}">
                <a href="#" th:href="@{/blog/v1/type/{id}(id=${type.id})}" class="ui basic button" th:classappend="${type.id == activeTypeId} ? 'teal'" th:text="${type.name}">思考与感悟</a>
                <div class="ui basic left pointing label" th:classappend="${type.id == activeTypeId} ? 'teal'" th:text="${#arrays.length(type.blogs)}">24</div>
            </div>
            <!--/*-->
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">java入门</a>
                <div class="ui basic left pointing label">12</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">java进阶</a>
                <div class="ui basic left pointing label">12</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">html入门</a>
                <div class="ui basic left pointing label">12</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">html进阶</a>
                <div class="ui basic left pointing label">12</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">UI框架</a>
                <div class="ui basic left pointing label">12</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">JS框架</a>
                <div class="ui basic left pointing label">12</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">Spring系列</a>
                <div class="ui basic left pointing label">12</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">Docker系列</a>
                <div class="ui basic left pointing label">12</div>
            </div>
            <!--*/-->
        </div>
        <!--blog-->
        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment m-padded-in-huge"  th:each="blog : ${blogs.content}">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <!--博客列表-->
                    <div class="eleven wide column">

                        <h3 class="ui header">
                            <a href="#" target="_blank" th:href="@{/blog/v1/index/blog/{id}(id=${blog.id})}" class="m-color-black m-title-font" th:text="${blog.title}">
                                你真的理解什么是财富自由吗
                            </a>
                        </h3>
                        <p class="m-text-thin" th:text="|${blog.description}......|" style="word-break: break-all">
                            本文将对MyBatis-Plus进行学习，主要是对简单的增删改查、分页查询、自动填充、乐观锁、逻辑删除、性能分析进行学习。MyBatis-Plus（简称 MP）是一个
                            MyBatis 的增强工具，在 MyBatis 的基础上只做增强不做改变，为简化开发、提高效率而生......
                        </p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://unsplash.it/100/100?image=1005" alt="" th:src="@{${blog.user.avatar}}"
                                             class="ui avatar image">
                                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">蒙恩</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020-09-23</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i><span th:text="${blog.views}">0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal basic mini label m-text-thin" th:text="${blog.type.name}">认知升级</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/v1/index/blog/{id}(id=${blog.id})}" target="_blank">
                            <img src="https://picsum.photos/id/1/220/125" th:src="@{${blog.firstPicture}}" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
            <!--/*-->
            <div class="ui padded vertical segment m-padded-in-huge">
                <div class="ui mobile reversed stackable grid">
                    <!--博客列表-->
                    <div class="eleven wide column">

                        <h3 class="ui header">
                            <a href="#" target="_blank" class="m-color-black m-title-font">你真的理解什么是财富自由吗</a>
                        </h3>
                        <p>本文将对MyBatis-Plus进行学习，主要是对简单的增删改查、分页查询、自动填充、乐观锁、逻辑删除、性能分析进行学习。MyBatis-Plus（简称 MP）是一个
                            MyBatis 的增强工具，在 MyBatis 的基础上只做增强不做改变，为简化开发、提高效率而生......</p>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1/220/125" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
            <div class="ui padded vertical segment m-padded-in-huge">
                <div class="ui mobile reversed stackable grid">
                    <!--博客列表-->
                    <div class="eleven wide column">

                        <h3 class="ui header">
                            <a href="#" target="_blank" class="m-color-black m-title-font">你真的理解什么是财富自由吗</a>
                        </h3>
                        <p>本文将对MyBatis-Plus进行学习，主要是对简单的增删改查、分页查询、自动填充、乐观锁、逻辑删除、性能分析进行学习。MyBatis-Plus（简称 MP）是一个
                            MyBatis 的增强工具，在 MyBatis 的基础上只做增强不做改变，为简化开发、提高效率而生......</p>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1/220/125" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
            <div class="ui padded vertical segment m-padded-in-huge">
                <div class="ui mobile reversed stackable grid">
                    <!--博客列表-->
                    <div class="eleven wide column">

                        <h3 class="ui header">
                            <a href="#" target="_blank" class="m-color-black m-title-font">你真的理解什么是财富自由吗</a>
                        </h3>
                        <p>本文将对MyBatis-Plus进行学习，主要是对简单的增删改查、分页查询、自动填充、乐观锁、逻辑删除、性能分析进行学习。MyBatis-Plus（简称 MP）是一个
                            MyBatis 的增强工具，在 MyBatis 的基础上只做增强不做改变，为简化开发、提高效率而生......</p>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1/220/125" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>
            <!--*/-->
        </div>
        <!--page-->
        <div class="ui bottom attached segment" th:if="${blogs.totalPages > 1}">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" th:href="@{/blog/v1/type/{id}(id=${activeTypeId})/(page=${blogs.number}-1)}" th:unless="${blogs.first}" class="ui teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" th:href="@{/blog/v1/type/{id}(id=${activeTypeId})/(page=${blogs.number}+1)}" th:unless="${blogs.last}" class="ui teal basic button">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!--声明-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechatlogo.jpg" th:src="@{/images/wechatlogo.jpg}" alt="" class="ui rounded image" style="width: 10em">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Springboot入门</a>
                    <a href="#" class="item">Shiro权限框架使用</a>
                    <a href="#" class="item">Docker部署项目环境</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">联系站主</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item"><i class="ui envelope icon"></i>zalwlf108508@126.com</a>
                    <a href="#" class="item"><i class="ui wechat icon"></i>mengen-108508</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">MengEn</h4>
                <div class="ui inverted link list">
                    <p class="item">生我明目，目及清明；心如猛虎，细嗅蔷薇。</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2019-2020 zalwlf.com. All rights reserved.</p>
        <a href="http://beian.miit.gov.cn" target="_blank" class="m-text-thin m-text-spaced m-opacity-mini m-color-white">京ICP备19000217号</a>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>